.main-user {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "user review";
    padding: 18px 0;
    border-bottom: 1px solid #e6e6e6;
}
.user-parts {
    grid-area: user;
}
.review-parts {
    grid-area: review;
}

.greybox {
    grid-area: review;
    text-align: center;
    width: 382px;
    height: 97px;
    float: left;
    padding: 11px 15px;
    background: #f5f5f5;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-sizing: border-box;
}

.stars {
    width: 358px;
    height: 43px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.review-link {
    margin:auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #0073bb;
    font-size: 14px;
    text-decoration: none;
}
.review-link:hover {
    text-decoration-line: underline;
}

.input-box {
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 350px;
    height: 350px;
    position: absolute;
}

.review-input {
    width: 340px;
    height: 300px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.submit-input {
    min-width: 220px;
    height: 38px;
    color: #fff;
    font-weight: bold;
    border-color: #8d0005;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    background-color: #d90007;
    background: linear-gradient(#d90007,#c91400);
    font-size: 16px;
    line-height: 1.3125em;
}