.item {
    width: 172px;
    height: 14px;
    padding: 3.500px 14px;
}

.highlight {
    width: 172px;
    height: 14px;
    padding: 3.500px 14px;
    background: #666;
    color: white;
}

.item:hover {
    background: #666;
    color: white;
}